# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.env
.env
./docs
docs/.gitignore
docs/docusaurus.config.ts
docs/package-lock.json
docs/package.json
docs/README.md
docs/sidebars.ts
docs/tsconfig.json
docs/blog/2019-05-28-first-blog-post.md
docs/blog/2019-05-29-long-blog-post.md
docs/blog/2021-08-01-mdx-blog-post.mdx
docs/blog/authors.yml
docs/blog/tags.yml
docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
docs/blog/2021-08-26-welcome/index.md
docs/docs/intro.md
docs/docs/api/modules.md
docs/docs/api/README.md
docs/docs/api/components/SideBar/README.md
docs/docs/api/components/SideBar/functions/default.md
docs/docs/api/constants/README.md
docs/docs/api/constants/variables/version.md
docs/docs/api/data/menuItems/README.md
docs/docs/api/data/menuItems/interfaces/MenuItem.md
docs/docs/api/data/menuItems/variables/default.md
docs/docs/api/hooks/useWebSocket/README.md
docs/docs/api/hooks/useWebSocket/functions/useWebSocket.md
docs/docs/api/pages/Home/README.md
docs/docs/api/pages/Home/functions/default.md
docs/docs/api/services/keycloakService/README.md
docs/docs/api/services/keycloakService/functions/handleLogout.md
docs/docs/api/services/keycloakService/functions/initKeycloak.md
docs/docs/api/services/keycloakService/variables/default.md
docs/docs/api/types/README.md
docs/docs/api/types/interfaces/CommitDivision.md
docs/docs/api/types/interfaces/Repository.md
docs/src/components/HomepageFeatures/index.tsx
docs/src/components/HomepageFeatures/styles.module.css
docs/src/css/custom.css
docs/src/pages/index.module.css
docs/src/pages/index.tsx
docs/src/pages/markdown-page.md
docs/static/.nojekyll
docs/static/img/docusaurus-social-card.jpg
docs/static/img/docusaurus.png
docs/static/img/favicon.ico
docs/static/img/logo.svg
docs/static/img/undraw_docusaurus_mountain.svg
docs/static/img/undraw_docusaurus_react.svg
docs/static/img/undraw_docusaurus_tree.svg
